@font-face {
    font-family: PPSupplyMono;
    src: url(PPSupplyMono-Regular.otf);
}

html {
    font-family: PPSupplyMono;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
 
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

header {
    text-align: left;
}



/* Bild reinfliegender Efekt */
@keyframes flyInRotate {
    0% {
        transform: translate(50%, -50%) scale(0.1) rotate(-790deg);
        opacity: 0;
    }
    100% {
        transform: translate(50%, -50%) scale(1) rotate(0deg);
        opacity: 1;
    }
}

/* Button animation groß und klein werdend */
@keyframes pulse {
    0%, 100% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.6);
    }
}


.content {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 60vw;
    transition: opacity 2.6s ease-in-out;
}



.content.show {
    display: block;
    animation: flyInRotate 2.1s forwards;
}



.teambild-image {
    position: relative;
    display: inline-block;
}

.teambild-image img {
    opacity: 0;
}

.teambild-image img:hover {
    cursor: url('lupe.png') 25 25, not-allowed;
}


.face-button {
    position: absolute;
    background-color: rgba(121, 39, 39, 0.8); /* Halbtransparenter Hintergrund */
    border: none;
    border-radius: 50%;
    width: 11%;
    height: 20%;
    display: flex; /* Zentriert den Text */
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    font-size: 1.2vw; /* Dynamische Schriftgröße */
    color: white; /* Textfarbe */
    font-family: PPSupplyMono, sans-serif; /* Einheitliche Schriftart */
    font-weight: bold; /* Dicke Schrift */
    z-index: 10; /* Buttons über allen anderen Elementen */
    transition: top 2s ease-in-out, left 2s ease-in-out; /* Sanfte Bewegung */
}

.face-button:hover {
    background-color: rgba(159, 38, 38, 0.8);
    cursor: url('lupe.png') 25 25, not-allowed;
}


#eins {
    top: 25%;
    left: 96%;
}

#zwei {
    top: 17%;
    left: 14%;
}

#drei {
    top: 83%;
    left: 50%;
}

#vier {
    top: 11%;
    left: 5%;
}

#fünf {
    top: 47%;
    left: 49%;
}

#sechs {
    top: 32%;
    left: 13%;
}

#sieben {
    top: 43%;
    left: 41%;
}

#acht {
    top: 45%;
    left: 38%;
}


#neun {
    top: 48%;
    left: 69%;
}


#zehn {
    top: 45%;
    left: 63%;
}

#elf {
    top: 34%;
    left: 36%;
}


#zwölf {
    top: 30%;
    left: 56%;
}

#dreizehn {
    top: 45%;
    left: 63%;
}

#vierzehn {
    top: 34%;
    left: 36%;
}


#fünfzehn {
    top: 70%;
    left: 26%;
}

#sechtzehn {
    top: 30%;
    left: 56%;
}

#siebzehn {
    top: 45%;
    left: 73%;
}

#achtzehn {
    top: 94%;
    left: 36%;
}


#neunzehn {
    top: 30%;
    left: 56%;
}

#zwanzig {
    top: 45%;
    left: 63%;
}

#einundzwanzig {
    top: 34%;
    left: 36%;
}


#zweiundzwanzig {
    top: 30%;
    left: 56%;
}

#dreiundzwanzig {
    top: 34%;
    left: 36%;
}


#vierundzwanzig {
    top: 80%;
    left: 86%;
}



.ke-logo {
    text-align: center;
    max-width: 10vw;
    margin: 0 auto;
}

a {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.albumDownload {
    margin: 10px 20px 20px 20px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
}


#teamPopup {
    display: none; /* Popup ist standardmäßig unsichtbar */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 30vw;
    background-color: #ffffff9d;
    padding: 2rem;
    border-radius: 2rem;
    color: #000000;
    z-index: 20; /* Überlagert andere Inhalte */
}

/* .doorCloseButton {
    background-color: transparent;
    border: none;
    width: 3rem;
} */

#popupImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.team-popup h3, .team-popup p {
    margin: 0;
}

.ClosePopUpButton {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    background-color: transparent;
    border-radius: 100px;
    border-style: none;
    width: 4rem;
}



.popover {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 45vw;
    background-color: #ffffff9d;
    padding: 2rem;
    border-radius: 2rem;
    color: #000000;
}



.goContainer {
display: flex;
justify-content: center;
margin: 30px 0px 10px 0px;
}



.goButton {
    animation: pulse 1.9s infinite;
    background-color: rgb(65, 104, 33);
    color: white;
    border-radius: 2rem;
    border-style: none;
    padding: 5px 9px 5px 9px;
}


.goButton:hover {
    background-color: rgb(58, 148, 65);
}

.goButton:active {
    background-color: rgb(79, 178, 87);
}


h2 {
    font-size: 1.6rem;
    text-align: center;
}



.welcome-text {
    display: inline-block;
    padding: 0px 4px 0px 4px;
}

.welcome-text p {
    float: left;
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    padding: 2 2%;
}


@media (max-aspect-ratio: 1/1) {

    .popover {
        width: 70vw;
    }
}

@media only screen and (max-width: 500px) {
    footer {
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 1200px) {
    footer {
        font-size: 1.2rem;
    }

}